.App {
  text-align: center;


}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 200px;
  color:pink;
}

.App-header {
  height: 250px;
  padding: 20px;
  color: white;
  background: #009eff;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

input {

  font-size: 1em;
}

.forecast {
  display: inline-block;
  padding:1.5em;
}

.button {
background:#87e36db8;
border-style: outset;
height: 40px;
width: 150px;

}




.footer {
  position: fixed;
  bottom:0;
  width:100%;
  background: #009eff;
  color:white;
}
